<mat-card>
  <h1>{{btnTitulo}}</h1>

  <form [formGroup]="produtoForm" (ngSubmit)="submit()" #formDit="ngForm">
    <input type="hidden" formControlName="id">

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Código do Produto</mat-label>
        <input matInput type="text" formControlName="codigoDoProduto" placeholder="Insira o código do produto" required>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Nome do Produto</mat-label>
        <input matInput type="text" formControlName="nome" placeholder="Insira o nome do produto" required>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Departamento</mat-label>
        <mat-select id="departamento" formControlName="departamento" required>
          <mat-option value="MASCULINO">MASCULINO</mat-option>
          <mat-option value="FEMININO">FEMININO</mat-option>
          <mat-option value="INFANTIL">INFANTIL</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Quantidade</mat-label>
        <input matInput type="text" formControlName="quantidade" placeholder="Insira a quantidade" required>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Tamanho</mat-label>
        <input matInput type="text" formControlName="tamanho" placeholder="Insira o tamanho" required>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Preço do Produto</mat-label>
        <input matInput type="text" formControlName="preco" placeholder="Insira o preço do produto" required>
      </mat-form-field>
    </div>

    <div class="btn-box">
      <button type="submit" [disabled]="!produtoForm.valid" mat-raised-button color="accent">{{btnAcao}}</button>
      <button routerLink="" mat-raised-button>Voltar</button>
    </div>

  </form>
</mat-card>
