<div class="produto-box">
  <button routerLink="/cadastro">Cadastrar novo produto</button>

  <div class="input-box">
    <label for="">Procurar:</label>
    <input type="text" placeholder="Qual produto está buscando?" (input)="search($event)">
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Código do Produto</th>
      <th>Nome do Produto</th>
      <th>Departamento</th>
      <th>Quantidade</th>
      <th>Tamanho</th>
      <th>Preço</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let produto of produtos">
    <tr>
      <td>
        <div *ngIf="produto.disponivel == true; else indisponivel">
          <img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;">
        </div>

        <ng-template #indisponivel>
          <img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px;">
        </ng-template>

      </td>
      <td>{{produto.codigoDoProduto}}</td>
      <td>{{produto.nome}}</td>
      <td>{{produto.departamento}}</td>
      <td>{{produto.quantidade}}</td>
      <td>{{produto.tamanho}}</td>
      <td>{{produto.preco}}</td>
      <td>
        <button routerLink="/editar/{{produto.id}}">Editar</button>
        <button routerLink="/detalhes/{{produto.id}}">Detalhes</button>
      </td>
      <td>
        <button>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
