<mat-card>
  <div>
    <h1>Detalhes do Produto</h1>
  </div>


  <div *ngIf="produto">
    <form>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Código do produto:</mat-label>
          <input matInput type="text" value="{{produto.codigoDoProduto}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Nome:</mat-label>
          <input matInput type="text" value="{{produto.nome}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Preço:</mat-label>
          <input matInput type="text" value="{{produto.preco}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Tamanho:</mat-label>
          <input matInput type="text" value="{{produto.tamanho}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Quantidade:</mat-label>
          <input matInput type="text" value="{{produto.quantidade}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Disponivel:</mat-label>
          <input matInput type="text" value="{{produto.disponivel == true ? 'Disponível' : 'Indisponível'}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Departamento:</mat-label>
          <input matInput type="text" value="{{produto.departamento}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Data de Entrada:</mat-label>
          <input matInput type="text" value="{{produto.dataDeEntrada}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Data de Alteração:</mat-label>
          <input matInput type="text" value="{{produto.dataDeAlteracao}}" disabled>
        </mat-form-field>
      </div>

      <div class="btn-box">
        <button (click)="DisponivelProduto()" mat-raised-button color="warn">Produto Indisponivel</button>
        <button routerLink="" mat-raised-button>Voltar</button>
      </div>

    </form>
  </div>
</mat-card>
